.divStyle {  
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(255,255,255,0.7);
  z-index:9999;
  display: none;
}  

.hideDiv {
  display: none;
}
    
.imgStyle {  
  width: 50px;
  height: 50px;
  position: absolute;
  top:0;
  left:0; 
  right:0; 
  bottom:0; 
  margin:auto;
  padding: 0;
}  